# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\troha\Programiranje\100 Days of Code - Python Bootcamp\59 - 80 - Advanced\Day 080 - Capstone Project - Predict House Prices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
